<h2>Login Usuarios</h2>
<hr>
<form action="">
    <div id="mensajes"></div>
    <br>
    <input type="text" id="email" placeholder="ingreses correo electrónico">
    <input type="text" id="password" placeholder="Ingrese password">
    <input type="submit" id="btnSubmit" value="Ingresar">
</form>

{{>menu}}

<script src="/js/login.js"></script>