<h2> Registro Usuarios </h2>
<hr>
<form action="">
    <div id="mensajes"></div>
    <br>
    <input type="text" id="first_name" placeholder="ingrese nombre">
    <input type="text" id="last_name" placeholder="ingrese apellido">
    <input type="email" id="email" placeholder="ingrese correo electrónico">
    <input type="text" id="age" placeholder="ingrese su edad">
    <input type="password" id="password" placeholder="ingrese password">
    <label for="role">Seleccione su rol:</label>
    <select id="role" name="role">
        <option value="user">user</option>
        <option value="admin">admin</option>
    </select>
    
    <br><br>
    <input type="submit" id="btnSubmit" value="Registrar">
</form>

{{>menu}}

<script src="/js/registro.js"></script>