        <ul id="menu-list">
            <li>
                <a href="/registro">Registro</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            {{!-- <li>
                <a href="/api/sessions/github">Acceder con Github</a>
            </li> --}}
            <li>
                <a href="/api/products">Products</a>
            </li>
            <li>
                <a href="/api/carts">Carrito</a>
            </li>
            <li>
                {{#if cartId}}
                    <a href="/api/carts/{{cartId}}/purchase">Check Out</a>
                {{else}}
                    <span>No tienes un carrito activo</span>
                {{/if}}
            </li>
            <li>
                <a href="/api/sessions/logout">Logout</a>
            </li>
       </ul>
